body {
  font-family: Roboto, sans-serif;
  background-color: #17b978;
  margin: 0;
  padding: 0;
}

header {
  background-color: #086972;
  padding: 0.6vw;
  margin: 0;
}

#header-title {
  color: #a7ff83;
  padding-left: 1.2vw;
  padding-right: 0;
  margin: 0;
  text-decoration: none;
}

p {
  color: aliceblue;
}

.row-text {
  font-size: 1.3vw;
}

h1 {
  color: #a7ff83;
  font-size: 2.4vw;
}

h3 {
  color: #086972;
  font-size: 1.45vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #a7ff83;
  padding: 1vw;
  font-size: 1.4vw;
}

nav li a:hover {
  color: aliceblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.row-item {
  flex: 3;
  margin-right: 7.5vw;
  margin-left: 7.5vw;
  margin-top: 2.6vw;
  margin-bottom: 2.6vw;
}

.row-image {
  flex: 1;
  margin-right: 7.5vw;
  margin-left: 7.5vw;
  margin-top: 2.6vw;
  margin-bottom: 2.6vw;
}

#bolibompadraken {
  width: 32vw;
}

#bolibompadraken-i-intro {
  width: 32vw;
}

#markus {
  width: 18vw;
}

.photos-row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
  transition: box-shadow 0.2s;
}

.photo {
  width: 28vw;
  height: 24vw;
  transition: height 0.2s;
}

.image-text {
  background-color: #086972;
  width: 28vw;
  font-size: 1.2vw;
  text-align: center;
  transition: font-size 0.2s;
}

.photos-row-item:hover {
  box-shadow: 0 0 1.5vw 0.5vw #108254;
}

.photos-row-item:hover .image-text {
  font-size: 1.4vw;
}

.photos-row-item:hover .photo {
  height: 23.4vw;
}

.videos-row-item {
  flex: 1;
  margin: 1.2vw;
  height: 26vw;
}

footer {
  background-color: #086972;
  padding: 0.6vw;
}

#footer-title {
  color: #a7ff83;
  padding-left: 1.2vw;
  font-size: 1.2vw;
}
